apiVersion: apps/v1
kind: Deployment
metadata:
  name: kartograph-api
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: api
  template:
    spec:
      containers:
        - name: api
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              cpu: 1000m
              memory: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kartograph-postgres
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: database
  template:
    spec:
      containers:
        - name: postgres
          resources:
            requests:
              cpu: 500m
              memory: 1Gi
            limits:
              cpu: 2000m
              memory: 4Gi
