apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kartograph-postgres-pvc
  labels:
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
