apiVersion: v1
kind: Service
metadata:
  name: kartograph-spicedb
  labels:
    app.kubernetes.io/component: authorization
spec:
  selector:
    app.kubernetes.io/component: authorization
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
      protocol: TCP
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
